<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.painter.dao.IDealinfoDao">
<resultMap type="Dealinfo" id="dealinfoResultMap">
	    <id property="dealinfoid" column="dealinfoid"/>
		
		<result property="dealdate" column="dealdate" />
		<result property="goodsnum" column="goodsnum"/>
		<result property="money" column="money"/>
		<result property="score" column="score"/>
		<association property="users" javaType="Users">
		   <id property="userid" column="userid" />
		</association>	
		<association property="goods" javaType="Goods">
   		   <id property="goodsid" column="goodsid" />
   		   <result property="name" column="name" />
   		   <result property="img" column="img" />
   		   <result property="score" column="gscore" />
		</association>
</resultMap>

   	<select id="findDealinfoList" parameterType="Condition" resultMap="dealinfoResultMap">
        select b.*,g.*,g.score as gscore,u.userid from (select * from (select rownum as num,d.* from dealinfo d 
		where 1=1
		<if test="userid!=0">and #{userid }=userid
	  	</if>
	  	and rownum <![CDATA[ < ]]>=#{pageIndex} * #{pageSize} order by dealinfoid desc) t 
		where t.num> (#{pageIndex}-1)*#{pageSize}) b ,users u,goods g 
		where b.userid=u.userid and b.goodsid=g.goodsid
		
	</select>
	
	<select id="findDealinfoRecordCount" parameterType="Condition" resultType="int">
	   select count(*) from dealinfo
	   <where>
	   		<if test="userid!=0">and #{userid }=userid
	  		</if>
	   </where> 
	</select>
	
	<insert id="addDealinfo" statementType="CALLABLE" parameterType="Dealinfo">
		{call pro_dealinfo(
			#{users.userid,mode=IN,jdbcType=INTEGER},
			#{goods.painter.painterid,mode=IN,jdbcType=INTEGER},
			#{money,mode=IN,jdbcType=DOUBLE},
			#{goods.goodsid,mode=IN,jdbcType=INTEGER},
			#{goodsnum,mode=IN,jdbcType=INTEGER},
			#{score,mode=IN,jdbcType=INTEGER}
		)
		}
	</insert>
</mapper>
